@use '../../assets/scss/mixins.scss';

.gradientLight {
    position: absolute;
    top: 5vh;
    right: 15vw;
    height: 50vw;
    width: 50vw;
    border-radius: 20vw;
    background: rgb(2,0,36);
    opacity: 0;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(162,149,32,1) 0%, rgba(162,149,32,0.005) 70%, rgba(0,0,0,0) 90%);
}

.gradientLightSecondary {
    position: absolute;
    top: 50vh;
    right: 35vw;
    height: 40vw;
    width: 40vw;
    border-radius: 20vw;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(99,89,166,0.3) 0%, rgba(162,149,32,0.005) 70%, rgba(0,0,0,0) 90%);
}

.canvasContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(150vh);
    width: 100vw;
    background-color: var(--bg-main);

    @include mixins.vertical {
        margin-top: -15vh;

    }

    div {
        z-index: 0;
    }
}

.container {
    display: grid;
    grid-template-columns: 70% 30%;
}

.sizedTopBanner {
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: var(--pd-fullwidth);
    perspective: 1250px;
    overflow: hidden;
}

.containerTitleMobile {
    display: none;
}


// @include mixins.desktop-sm {
//     .sizedTopBanner {
//         display: flex;
//     }

//     .containerTitleMobile {
//         display: none;
//     }
// }

[data-animation-completed] {
    .preTitle, .title {
        opacity: 1;
    }
}

.preTitle {
    font-size: clamp(50px, 4vw, 80px);
    font-family: 'inter-bold';
    margin: 0;
    padding-left: 100px;
    margin-left: -100px;
    letter-spacing: -1px;
    opacity: 0;
    color: var(--c-primary);

    @include mixins.mobile-tablet {
        padding-left: 0;
        margin-left: 0;
    }

    transform-origin: left;
}

p.title, line {
    font-size: clamp(90px, 8vw, 150px);
    line-height: 1.25;
    margin: 0;
}

.title {
    position: relative;
    font-family: 'inter-bolder';
    font-weight: var(--fw-bolder);
    color: var(--c-font-h);
    letter-spacing: -4ßpx;
    margin: 0;
    padding-left: 100px;
    transform-origin: left;
    opacity: 0;

    @include mixins.mobile-tablet {
        padding-left: 0;
    }

    &:last-child {
        padding-left: 100px;
        margin-left: 200px;

        @include mixins.mobile-tablet {
            padding-left: 0;
            margin-left: 0;
        }
    }

    span {
        position: relative;
        z-index: 2;
    }

    svg {
        display: none;
        position: absolute;
        left: 0;
        top: 20%;
        z-index: 1;
    }

    [data-svg-ellipse] {
        top: 0;
    }

    [data-svg-path-ellipse] {
        transition: stroke-dashoffset 4s ease-in-out;
    }

    [data-svg-underline], [data-svg-ellipse] {
        width: 300px;
        height: 300px;
    }

    [data-svg-highlight] {
        width: auto;
        height: 40%;
        top: 10%;
        transform-origin: center;
        transform: translateX(50px);
    }
}

.date {
    pointer-events: none;
    position: absolute;
    bottom: 10vh;
    right: 8vw;
    opacity: 0;

    &:before {
        content: '';
        position: absolute;
        top: 115px;
        left: 10px;
        height: 300px;
        width: 300px;
        border-radius: 500px;
        background-color: transparent;
    }

    .dateContainer {
        display: grid;
        grid-template-columns: 150px 150px;
        margin-top: 70vh;
    }

    .dayNum {
        transform-origin: center;
        font-size: 125px;
        font-weight: var(--fw-boldest);
        width: fit-content;
        margin: 0;
        font-family: "inter-bolder";
        -webkit-text-fill-color: var(--bg-main);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--c-font-h);
        transform: rotateZ(-90deg);
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .text {
        margin: 0;
        font-family: 'quanticoBold';
        font-size: 25px;
    }

    .text:first-child {
        font-family: "inter-bolder";
        font-size: 50px;
        -webkit-text-fill-color: var(--bg-main);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--c-font-h);
    }
}

@include mixins.mobile-tablet-vertical {
    .container {
        display: block;
        position: relative;
    }

    .containerTitleMobile {
        transform: translateY(-4vh);
    }

    p.preTitle {
        font-size: clamp(30px, 7.5vw, 55px);
    }
    p.title {
        font-size: clamp(65px, 14vw, 100px);
    }

    .date {
        bottom: 4vh;
        right: 3vw;
    }
}

@include mixins.mobile {
    .date .dateContainer {
        grid-template-columns: 80px 120px;

        .dayNum {
            font-size: 70px;
        }

        .text {
            font-size: 22px;

            &:first-child {
                font-size: 30px;
            }
        }
    }
}

@include mixins.desktop-lg {
    .date {
        .dateContainer {
            grid-template-columns: 165px 160px;
        }

        .dayNum {
            font-size: 140px;
        }

        .text {
            font-size: 35px;
        }

        .text:first-child {
            font-size: 55px;
        }
    }
}