@use '../../assets/scss/mixins.scss';

.container {
    display: grid;
    grid-template-columns: 70% 30%;
}

.wrappTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: var(--pd-fullwidth);
    perspective: 1250px;
    overflow: hidden;
}

.preTitle {
    font-size: 4vw;
    font-weight: 800;
    margin: 0;
    opacity: 0;
    color: var(--c-primary);
    padding-left: 100px;
    margin-left: -100px;
    transform-origin: left;
}

.title, line {
    font-size: 8vw;
    font-weight: 800;
    margin: 0;
}

.title {
    font-family: 'inter-bolder';
    font-weight: var(--fw-bolder);
    color: var(--c-font-h);
    margin: 0;
    padding-left: 100px;
    line-height: 1.25 !important;
    transform-origin: left;
    opacity: 0;

    &:last-child {
        padding-left: 100px;
        margin-left: 200px;
    }
}

.date {
    position: relative;
    opacity: 0;

    &:before {
        content: '';
        position: absolute;
        top: 115px;
        left: 10px;
        height: 300px;
        width: 300px;
        border-radius: 500px;
        background-color: transparent;
    }

    .container {
        display: grid;
        grid-template-columns: 150px 150px;
        margin-top: 70vh;
    }

    &__date {
        transform-origin: center;
        font-size: 125px;
        font-weight: var(--fw-boldest);
        width: fit-content;
        margin: 0;
        font-family: "inter-bolder";
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--c-font-h);
        transform: rotateZ(-90deg);
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .text {
        margin: 0;
        font-family: 'quanticoBold';
        font-size: 25px;
    }

    .text:first-child {
        font-family: "inter-bolder";
        font-size: 50px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--c-font-h);
    }
}