@use './mixins';

:root {
    background-color: var(--bg-main);

    // padding
    --pd-xs: 5px;
    --pd-sm: 10px;
    --pd-md: 15px;
    --pd-lg: 20px;
    --pd-xl: 30px;
    --pd-xl: 40px;
    --pd-2xl: 50px;

    --pd-screen: var(--pd-md);
    --pd-fullwidth: 0 5vw;

    --pd-inner-component: var(--pd-lg);

    @include mixins.desktop {
        --pd-screen: var(--pd-md);
    }

    // Margins
    --mg-xs: 5px;
    --mg-sm: 10px;
    --mg-md: 15px;
    --mg-lg: 20px;
    --mg-xl: 30px;
    --mg-xl: 40px;
    --mg-2xl: 50px;

    --mg-between-components: var(--mg-lg);

    // Sizes
    --sz-content: 100%;

    @include mixins.desktop {
        --sz-content: 500px;
    }


    // Colors
    --c-primary-transparency: hsla(54, 67%, 38%, 0.2);

    --c-primary-lighter: hsl(54, 67%, 90%);
    --c-primary-light: hsl(54, 67%, 75%);
    --c-primary: hsl(54, 67%, 38%);
    --c-primary-dark: hsl(54, 67%, 25%);
    --c-primary-darker: hsl(54, 67%, 15%);

    --c-secondary-lighter: hsl(248, 30%, 90%);
    --c-secondary-light: hsl(248, 30%, 70%);
    --c-secondary: hsl(248, 30%, 50%);
    --c-secondary-dark: hsl(248, 30%, 30%);
    --c-secondary-darker: hsl(248, 30%, 10%);


    --c-black: hsl(0, 0%, 7%);
    --c-font-global: var(--c-black);

    --c-font-h: hsl(0, 0%, 15%);
    --c-font-white: var(--c-white);

    --c-white: hsl(136, 0%, 96%);
    --bg-main: var(--c-white);




    // Transitions
    --tr-base: 0.3s;

    // Colors


    // Font weight
    --fw-boldest: 900;
    --fw-bolder: 800;
    --fw-bold: 600;
    --fw-medium: 500;
    --fw-regular: 400;
    --fw-light: 300;
    --fw-lighter: 200;

    // Font size

    --fs-4xl: 3rem;
    --fs-3xl: 2.4rem;
    --fs-2xl: 2rem;
    --fs-xl: 1.7rem;
    --fs-lg: 1.45rem;
    --fs-global: 1.25rem;
    --fs-sm: 1.1rem;

    p {
        line-height: 1.5;
    }


}

