.btn {
    cursor: pointer;
    height: 60px;
    font-size: var(--fs-global);
    padding: 0 var(--pd-xl);
}

.black {
    border: none;
    border-radius: 5px;
    color: var(--c-font-white);
    font-weight: var(--fw-bold);
    background-color: var(--c-black);
}