.tagContainer {
    display: flex;

    .tag {
        font-size: var(--fs-xs);
        padding: var(--pd-xs) var(--pd-lg);
        background-color: var(--c-primary-lighter);
        margin-right: var(--mg-sm);
        border-radius: 5px;
    }
}