@use '../../assets/scss/mixins';

.container {
    padding: var(--pd-fullwidth) 0;
    margin-top: -5px;

    @include mixins.desktop-lg {
        padding: var(--pd-fullwidth-lg) 0;
    }
}


.container[data-theme="dark"] {

    // --c-primary: hsl(54, 67%, 68%);

    // --bg-main: hsl(0, 0%, 7%);
    // --c-white: hsl(0, 0%, 7%);
    // --c-font-global: hsl(136, 0%, 96%);
    // --bg-white: hsl(0, 0%, 12%);
    // --bg-white-translucent: hsla(0, 0%, 13%, 0.75);
    // --c-br-light: hsl(136, 0%, 60%);

    .banner {
        border-color: var(--c-br-light);
        background-color: var(--bg-white);
    }

    .name {
        color: var(--c-font-global);
    }

    h1 {
        color: var(--c-font-global);
    }

    .img {
        filter: grayscale(1) invert(1);
    }
}

.banner {
    height: auto;
    padding: var(--pd-lg) var(--pd-xl) var(--pd-xl) var(--pd-xl);
    border-radius: 20px;
    border: 1px solid var(--c-font-global);
    background: var(--bg-main);
    margin: auto;
    opacity: 0;
    transform: translateY(100px);

    h1 {
        font-size: clamp(25px, 3vw, 70px);
        font-family: 'inter-bold';
        margin-bottom: var(--mg-lg);
        color: 1px solid var(--c-font-global);
    }

    @include mixins.mobile {
        padding: var(--pd-lg) var(--pd-md) var(--pd-xl);
    }

    @include mixins.desktop-lg {
        padding: var(--pd-lg) calc(var(--pd-xl) * 2) var(--pd-2xl) calc(var(--pd-xl) * 2);
    }
}

.skillsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @include mixins.mobile-tablet {
        grid-template-columns: repeat(3, 1fr);
    }

    @include mixins.mobile {
        grid-template-columns: repeat(2, 1fr);
    }
}

.skillContainer {
    position: relative;
    display: grid;
    grid-template-columns: 60px auto;
    margin-bottom: var(--mg-md);
    opacity: 0;

    @include mixins.mobile {
        grid-template-columns: 30px auto;
    }
}

.img {
    height: 40px;
    max-width: 70px;
    align-self: center;
    opacity: 0.6;
    filter: grayscale(1);

    @include mixins.mobile {
        height: 25px;
        max-width: 40px;
    }
}

.name {
    align-self: center;
    font-size: var(--fs-global);
    color: 1px solid var(--c-font-global);

    @include mixins.mobile-tablet {
        font-size: var(--fs-sm);
    }
}

.level {
    position: absolute;
    width: 180px;
    height: 3px;
    border: 1px solid grey;
    border-radius: 2.5px;
    bottom: 0;
    left: 0;
    overflow: hidden;

    @include mixins.mobile-tablet {
        width: 150px;
    }

    @include mixins.mobile {
        width: 130px;
    }

    @include mixins.desktop-lg {
        width: 220px;
    }
}

.levelBar {
    position: absolute;
    display: block;
    background: var(--c-secondary);
    height: 100%;
    width: 100%;
    top: 0;
    right: 20%;
    transform: translateX(-100%);
}

.bar-15 {
    right: 85%;
}

.bar-30 {
    right: 70%;
}

.bar-45 {
    right: 55%;
}

.bar-60 {
    right: 40%;
}

.bar-75 {
    right: 25%;
}

.bar-90 {
    right: 10%;
}

.bar-100 {
    right: 0;
}

