@use '../../assets/scss/mixins';

.containerImage {
    display: flex;
    height: 100vh;
    width: 100vw;

    [data-transitioned-image]:not(div) {
        position: absolute;
        top: 50%;
        left: 50%;
        height: auto;
        width: 100%;
        opacity: 1;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    [data-transitioned-image] {
        img, svg {
            position: absolute;
            top: 50%;
            left: 50%;
            height: auto;
            width: 100%;
            transform: translate(-50%, -50%);
        }
    }
}

.projectPostContainer {
    position: relative;
    margin-top: -50vh;
    margin-bottom: 100px;
    overflow: hidden;
    width: 100vw;
    z-index: 1;

    &[data-theme="dark"] {
        .articleContent {
            img, svg {
                filter: grayscale(0.2) invert(1) brightness(1.1);
            }

            img[data-apply-filter="false"] {
                filter: brightness(0.9);
            }
        }

        .introContainer {
            span {
                background-color: hsla(54, 67%, 38%, 0.1);
                font-family: "inter-medium";
            }
        }

        .gradient {
            display: block;
        }
    }
}

.container {
    --grid-columns-article: 100%;

    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

div[data-img-mountain] {
    position: initial;
    width: 100vw;
    height: auto;
}

.introArticle {
    position: relative;
    box-sizing: border-box;
    width: 90vw;
    padding: var(--pd-lg) 7vw;
    margin: auto;
    margin-bottom: var(--mg-2xl);
    background-color: var(--bg-white-translucent-dark-mode);
    border-radius: 20px;
    z-index: 2;
    opacity: 0;

    .introContainer {
        opacity: 0;
        padding-bottom: var(--pd-xl);
        //transform: translateY(10vh);
    }

    h1 {
        font-size: var(--fs-4xl);
        font-family: 'inter-bold';
        margin-bottom: var(--mg-sm);
        color: var(--c-font-global);
    }

    .intro {
        font-family: 'inter-regular';
        font-size: var(--fs-lg);
        margin: var(--mg-sm) 0 0;
        max-width: 1050px;
        color: var(--c-font-global-light);
    }

    a {
        font-family: 'inter-bold';
    }

    span {
        background-color: var(--c-secondary-lighter);
        border-radius: var(--br-base);
        padding: 0 var(--pd-xs);
    }
}

.projectDateContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    p:last-child {
        font-size: var(--fs-sm);
        color: var(--c-font-global);
    }

    svg {
        height: 25px;
        width: 25px;
        margin-right: var(--mg-sm);
    }
}

.linksContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: var(--mg-xl);
    column-gap: var(--mg-xs);

    & div:last-child svg {
        transform: scaleX(-1);
    }

    svg {
        height: 30px;
        width: 30px;
    }
}

.linkProject {
    padding: var(--pd-sm);
    margin: auto;
    color: currentColor;
    transition: color var(--tr-base);
}

.linkWrap {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--c-white);
    border-radius: var(--br-base);
    color: var(--c-grey);
    transition: border-color var(--tr-base), background-color var(--tr-base);

    &:hover {
        border-color: var(--c-black);
        color: var(--c-black);
        background-color: var(--c-secondary-lighter);
    }
}

////////////////////////////////
///
.articleContent,
.moreProjectsContainer {
    --width-paragraph: 550px;

    position: relative;
    width: 75vw;
    margin: auto;

    span {
        font-family: 'inter-medium';
        color: rgb(36, 36, 36);
        background-color: var(--c-secondary-lighter);
        border-radius: var(--br-base);
        padding: 0 var(--pd-xs);
    }
}

.nextProjectContainer {
    display: block;
    position: absolute;
    top: 80px;
    right: 0;
    font-size: var(--fs-global);
    color: var(--c-font-global-light);
    font-family: 'quanticoBold';
    text-decoration: none;

    svg {
        position: absolute;
        top: -70px;
        right: 0;
        height: 60px;
        width: 100px;
        transition: transform var(--tr-base);
    }

    &:hover {
        svg {
            transform: translateX(10px);
        }
    }
}

.sectionTitle {
    font-family: 'inter-bold';
    grid-column-start: 1;
    font-size: var(--fs-4xl);
    margin-top: 0;
    max-width: var(--width-paragraph);
    color: var(--c-font-global);
}

.ctaContainer {
    display: flex;
    flex-direction: row;
    column-gap: var(--mg-md);

    a {
        margin-top: var(--mg-lg);
    }
}
.sectionMain,
.sectionMainRight,
.sectionRight,
.sectionLeft {
    --gap-column: var(--mg-xl);

    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: var(--gap-column);
    margin-bottom: var(--mg-2xl);
    padding-right: var(--gap-column);
}

.sectionMainRight {
    h2, p, div, img, svg {
        grid-column-start: 2;
    }
}

.sectionRight,
.sectionLeft {
    h2 {
        grid-column-start: 2;
        font-size: var(--fs-3xl);
        max-width: var(--width-paragraph);
        margin: 0 0 var(--mg-md);
    }

    div {
        grid-column-start: 2;
        grid-row-start: 2;
        max-width: var(--width-paragraph);
    }

    [data-img] {
        grid-column-start: 1;
        grid-row-start: 2;
    }
}

.gradientContainer {
    position: fixed;
    top: 50vh;
    left: 0;
    height: 75vh;
    width: 100%;
    opacity: 1;
    z-index: -1;

    .gradient {
        display: none;
        position: absolute;
        height: 200px;
        width: 100vw;
        left: 0;
        bottom: 0;
        opacity: 1;
        background: rgb(18,18,18);
        background: linear-gradient(0deg, rgba(18,18,18,1) 0%, rgba(18,18,18,0.6) 50%, rgba(18,18,18,0) 100%);
    }

}

.sectionLeft {
    h2 {
        grid-column-start: 1;
    }

    div {
        grid-column-start: 1;
    }

    [data-img] {
        grid-column-start: 2;
    }
}

.mainParagraph {
    grid-column-start: 1;
    font-family: 'inter-medium';
    font-size: var(--fs-lg);
    max-width: var(--width-paragraph);
    margin: 0;
    color: var(--c-font-global-light);
}

.paragraphRight {
    grid-column-start: 2;
    margin: 0;
    margin-bottom: var(--mg-sm);
    max-width: var(--width-paragraph);
    font-size: var(--fs-global);
    font-family: 'nunito-400';
    color: var(--c-font-global-light);
}

.preTitle {
    font-family: 'quanticoBold';
    color: var(--c-primary);
    margin-bottom: 0;
}


@include mixins.mobile-tablet {
    .articleContent,
    .moreProjectsContainer {
        --width-paragraph: 800px;
        width: 100%;
        padding: var(--pd-fullwidth);
        box-sizing: border-box;
        max-width: var(--width-paragraph);
        margin: auto;
    }

    .introArticle {
        margin-bottom: 110px;
    }

    .nextProjectContainer {
        top: -30px;
        right: 30px;

        svg {
            top: -60px;
            height: 55px;
            width: 75px;
        }
    }

    .sectionMain,
    .sectionMainRight,
    .sectionRight,
    .sectionLeft {
        display: flex;
        flex-direction: column;
        margin-bottom: var(--mg-xl);

        img {
            margin-top: var(--mg-md);
            max-width: 100%;
        }
    }
}

@include mixins.mobile {
    .ctaContainer {
        flex-direction: column;

        a {
            width: fill-available;
            margin-top: var(--mg-md);
        }
    }

    .nextProjectContainer {
        top: -15px;
        right: 30px;

        svg {
            top: -60px;
            height: 55px;
            width: 75px;
        }
    }
}

// @include mixins.desktop-sm {
//     margin-left: -50px;
// }

// @include mixins.desktop-lg {
//     --width-index: 350px;
//     margin-left: -110px;
// }