.logo {
    position: absolute;
    top: 50%;
    left: 100px;
    height: 200px;
    filter: invert(0);
    transform: translateY(-50%);

    path {
        stroke-dashoffset: 250px;
        stroke-dasharray: 250px;
        transition: stroke-dashoffset 1.5s;
    }

    path:nth-child(odd) {
        stroke-dashoffset: -250px;
    }

    [data-shade] {
        opacity: 0;
    }
}

.container {
    svg:last-child {
        position: absolute;
        top: 20%;
        left: 360px;
        height: 200px;
        width: 220px;
        opacity: 0;
        transform: rotateZ(10deg);
    }
}
