.heading {
    font-size: var(--fs-heading);
    padding: 0;
    margin:0;
    font-weight: var(--fw-bolder);
    color: var(--c-font-global);

}

.right {
    text-align: right;
}

.lineContainer {
    overflow: hidden;
}