.main {
    overflow-x: clip;
}

html {
    width: 100vw;
    background-color: var(--bg-main);
    overflow-x: clip;
    height: 100%;
}

body {
    overflow: auto;
    height: auto;
    margin: 0;
    width: 100%;
}

.page {
    transition: opacity 2s;
}

[data-svg-ellipse] {
    top: 0;
}

[data-svg-path-ellipse] {
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
    transition: stroke-dashoffset 1.5s ease-out;
}

[data-svg-path-underline] {
    stroke-dasharray: 1200;
    stroke-dashoffset: -1200;
    transition: stroke-dashoffset 0.75s ease-out;
}