.container {
    position: absolute;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;

    &[data-theme="light"] {
        img[data-filter-invert] {
            filter: none;
        }
    }
}

.imageContainer {
    position: relative;
    grid-row-start: 1;
    grid-column-start: 1;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    overflow: hidden;

    img {
        transform-origin: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

            @media (min-aspect-ratio: 2560/1600) {
                width: 100vw !important;
                height: auto !important;
            }

            @media (max-aspect-ratio: 2559/1599) {
                width: auto !important;
                height: 100vh !important;
            }
    }

    .image {
        opacity: 1;
        pointer-events: none;
    }
}