@use '../../assets/scss/mixins.scss';

.container {
    margin-top: 200px;
    width: 90vw;
    // border: 2px solid var(--c-black);
    border-radius: 15px;
    margin: var(--pd-fullwidth);
    margin-bottom: 100px;
    opacity: 0;
}

.wrap {
    position: relative;
    width: 100%;
    // max-width: var(--width-max-main-content);
    margin: auto;
    box-sizing: border-box;
    padding: var(--pd-xl) 5vw;
    background: white;
    border-radius: 20px;
    z-index: 10;
}

.title {
    color: var(--c-primary);
    font-size: clamp(25px, 3vw, 50px);
    font-weight: var(--fw-bolder);
    margin: 0 0 var(--mg-sm) 0;
}

.lineWrap {
    margin: 0;
    overflow: hidden;

    &:last-of-type {
        margin-bottom: 20px !important;
    }
}

.text {
    position: relative;
    margin: 0;
    // width: 50vw;
    color: var(--c-font-global);
    font-size: var(--fs-text-banner);
    font-weight: var(--fw-regular);
    z-index: 10;

    span {
        position: relative;

        &:before {
            content: "";
            border-radius: 5px;
            position: absolute;
            top: 0;
            left: -5px;
            padding: 0 5px;
            background-color: var(--c-primary-transparency);
            height: 100%;
            width: 100%;
            z-index: 0;
            clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
            transition: clip-path var(--tr-slow);
        }
    }
}

[data-animation-is-finished] {
    span:before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.textMobile {
    display: none;
}

@include mixins.mobile-tablet-vertical {
    .container {
        margin-bottom: var(--mg-2xl);
    }

    .textMobile {
        display: block;
    }

    .textDesktop {
        display: none;
    }

    .title {
        font-size: clamp(28px, 7vw, 35px);
    }
}