@use '../../assets/scss/mixins.scss';

.container {
    position: relative;
    margin-top: 200px;
    width: 90vw;
    border-radius: 15px;
    margin: var(--pd-fullwidth);
    margin-bottom: 100px;
    opacity: 0;

    &[data-theme="dark"] {
        svg {
            filter: grayscale(0.2) brightness(0.5);
        }

        .canvasContainer {
            filter: invert(0.8);
        }
    }
}

.canvasContainer {
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    right: 30px;
    opacity: 0;
    z-index: 11;
    transition: opacity var(--tr-base);

    svg:last-child {
        position: absolute;
        top: 20%;
        right: 10%;
        height: 200px;
        width: 220px;
        opacity: 0;
        transform: rotateZ(10deg);
    }
}

.wrap {
    position: relative;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: var(--pd-xl) 5vw 60px;
    background: var(--bg-white-translucent);
    border-radius: 20px;
    z-index: 10;
    border: 1px solid var(--c-br-light);
}

.title {
    color: var(--c-primary);
    font-size: clamp(25px, 3vw, 50px);
    font-weight: var(--fw-bolder);
    margin: 0 0 var(--mg-sm) 0;
}

.lineWrap {
    margin: 0;
    overflow: hidden;

    &:last-of-type {
        margin-bottom: 20px !important;
    }
}

.text {
    position: relative;
    margin: 0;
    color: var(--c-font-global);
    font-size: var(--fs-text-banner);
    font-weight: var(--fw-regular);
    z-index: 10;
    transform: translateY(100px);

    span {
        position: relative;

        &:before {
            content: "";
            border-radius: 5px;
            position: absolute;
            top: 0;
            left: -5px;
            padding: 0 5px;
            background-color: var(--c-primary-transparency);
            height: 100%;
            width: 100%;
            z-index: 0;
            clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
            transition: clip-path var(--tr-slow);
        }
    }
}

[data-animation-is-finished] {
    span:before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.textMobile {
    display: none;
}

@include mixins.mobile-tablet-vertical {
    .container {
        margin-bottom: var(--mg-2xl);
    }

    .textMobile {
        display: block;
    }

    .textDesktop {
        display: none;
    }

    .title {
        font-size: clamp(30px, 7vw, 35px);
    }

    .canvasContainer {
        position: relative;
        width: 100%;
        height: 80vw;
        right: 0;

        svg {
            right: 0;
            width: 150px;
            transform: rotateZ(10deg) scaleX(0.9);
        }
    }
}

@include mixins.mobile-tablet {
    .text {
        transform: translateY(0);
    }
}