.container {
    margin-top: 200px;
    width: 90vw;
    // border: 2px solid var(--c-black);
    border-radius: 15px;
    margin: var(--pd-fullwidth);
    margin-bottom: 100px;
}

.wrapp {
    position: relative;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: var(--pd-xl) var(--pd-2xl);
    background: white;
    border-radius: 20px;
    z-index: 10;
}

.title {
    color: var(--c-primary);
    font-size: clamp(25px, 3vw, 70px);
    font-weight: var(--fw-bolder);
    margin: 0 0 var(--mg-sm) 0;
}

.text {
    position: relative;
    margin: 0;
    // width: 50vw;
    color: var(--c-font-global);
    font-size: clamp(25px, 2.3vw, 35px);
    font-weight: var(--fw-regular);
    z-index: 10;

    span {
        position: relative;
        //padding: 0 5px;

        &:before {
            content: "";
            border-radius: 5px;
            position: absolute;
            top: 0;
            left: -5px;
            padding: 0 5px;
            background-color: var(--c-primary-transparency);
            height: 100%;
            width: 100%;
            z-index: 0;
        }

    }

    &:last-of-type {
        margin-bottom: 20px !important;
    }
}