.containerSecondHalf {
    background-color: var(--c-blackest);
}

.containerSecondHalf[data-theme="dark"] {

    --c-primary: hsl(54, 67%, 68%);

    --bg-main: hsl(0, 0%, 7%);
    --c-white: hsl(0, 0%, 7%);
    --c-font-global: hsl(136, 0%, 96%);
    --bg-white: hsl(0, 0%, 12%);
    --bg-white-translucent: hsla(0, 0%, 13%, 0.75);
    --c-br-dark-mode: hsl(136, 0%, 60%);
}