@use '../../../assets/scss/mixins.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 100vh;
    margin-top: -8vh;
    width: 100vw;
    padding: 0 0 0 25px;

    [data-svg-ellipse],
    [data-svg-underline] {
        min-width: auto;
        width: auto;
        min-height: 125%;
        height: 120%;
        margin: -10px 0 -30px -20px;

        path {
            stroke-width: 3;
        }
    }

    [data-svg-underline] {
        width: 120%;
        height: 100%;
        margin-left: clamp(40px, 18vw, 200px);
        bottom: -30px;
        opacity: 1;

        path {
            stroke-width: 8;
        }
    }

    .shapeContainer {
        position: relative;
    }
}

// .gridDark svg {
//     filter: invert(1);
// }

p.pretitle,
p.line {
    position: relative;
    font-family: 'inter-bolder';
    padding: 0;
    margin: 0;
    width: fit-content;
    line-height: 1.25;
    letter-spacing: -0.1vw;


    span {
        position: relative;
        // display: grid
        z-index: 2;
    }

    .shadowText {
        position: absolute;
        top: 8px;
        left: 8px;
        color: var(--bg-main);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--c-primary-dark);
        -webkit-text-stroke-style: dotted;
        z-index: -1;
        transition: transform var(--tr-slower);
    }
}

p.pretitle {
    font-size: clamp(23px, 9vw, 70px);
    letter-spacing: -0.03vw;
    color: var(--c-primary-light);
    margin-bottom: var(--mg-sm);
}

.line {
    font-size: clamp(40px, 19vw, 90px);
    color: var(--c-font-global);
}

.gridMobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

.gradientLight {
    pointer-events: none;
    position: absolute;
    height:60vh;
    width: 60vh;
    border-radius: 20vw;
    background: rgb(2,0,36);
    opacity: 0;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(162,149,32,0.35) 0%, rgba(162,149,32,0.005) 70%, rgba(0,0,0,0) 90%);
}

.spanAnimated {
    cursor: pointer;
    transition: color var(--tr-slower);

    &[data-animated] {
        color: var(--bg-main);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--c-primary-dark);

        .shadowText {
            color: var(--c-secondary-dark);
        }
    }
}

[data-theme="dark"] {
    .spanAnimated[data-animated] {
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: var(--c-primary-lighter);

        .shadowText {
            color: var(--c-primary-lighter);
        }

        &:hover .shadowText {
            color: var(--c-secondary-light);
        }
    }

    [data-svg-underline] path,
    [data-svg-ticks] path {
        stroke: var(--c-secondary-dark);
    }
}

@include mixins.tablet {
    .container {
        margin-top: 5vh;
        padding-left: 75px;
    }

    .line {
        font-size: clamp(40px, 20vw, 120px);

        [data-svg-underline] {
            bottom: -65px;
        }
    }
}


@include mixins.horizontal {
    .line {
        display: contents;
        font-size: clamp(40px, 10vw, 180px);
        color: var(--c-font-global);
        display: inline-flex;
    }

    .container {
        margin-top: -3.5vh;
        margin-left: 5vw;

        [data-svg-underline] {
            width: 110%;
            height:100%;
            margin-left: 0;
            top: 5vw;

            path {
                stroke-width: 4;
            }
        }

        [data-svg-ellipse] path {
            stroke-width: 1.5;
        }

        [data-svg-ticks] {
            height: 3.5vw;
            width: 3.5vw;
        }
    }

    .gridMobile [data-grid-horizontal] {
        margin-top: -15.5vh;
    }

    .gradientLight {
        width: 60vw;
        height: 60vw;
        right: 10vw;
    }

    .spanAnimated {
        &[data-animated] {
            &:hover .shadowText {
                transform: translate(3px, 3px);
                color: var(--c-primary-dark);
            }
        }
    }
}