.container {
    position: relative;
    box-sizing: border-box;
    height: 300px;
    width: 600px;
    background-color: transparent;
    padding: 0 var(--pd-xl) var(--pd-lg);
    overflow-y: scroll;

    .title {
        font-size: 60px;
        font-family: 'inter-bold';
        margin: var(--mg-xs) 0 var(--mg-sm);
        color: var(--c-font-global);
    }

    a {
        cursor: pointer;
        position: relative;
        display: block;
        color: var(--c-font-global);
        font-size: var(--fs-global);
        padding: var(--pd-md);
        padding-left: 0px;

        svg {
            margin-left: 20px;
            transform: translateY(2px);
        }
    }

    .textTitle {
        margin-top: 20px;
        font-size: var(--fs-lg);
        color: var(--c-font-global);
    }

    .item {
        font-size: var(--fs-lg);
        border: 1px solid var(--c-font-global);
        padding: var(--pd-sm) var(--pd-xl);
        margin: var(--mg-xl) 0;
        width: fit-content;
        border-radius: 30px;
        color: var(--c-font-global);
    }

    @media (max-aspect-ratio: 0.8) {
        height: 285px;
        width: 300px;
        padding: 0 var(--pd-2xs) var(--pd-2xs);
        margin-left: 20px;

        .title {
            font-size: 42px;
        }

        a {
            font-size: 16px;

            svg {
                display: none;
            }
        }

        .item {
            font-size: 22px;
        }
    }
}