@use '../../assets/scss/mixins';

.headerContainer {
    position: fixed;
    width: 100vw;
    top: 0px;
    z-index: 1000;
}

.burger {
    display: none;
}

.header {
    --height-header: 50px;

    position: fixed;
    width: 100vw;
    top: 20px;
    // opacity: 0;
    z-index: 1000;

    &[data-theme="dark"] .list:first-child a {
        color: var(--c-white-no-change);
    }
}

.logoContainer {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: var(--height-header);
    width: fit-content;
    margin-left: -1vw;
    text-decoration: none;
    color: var(--c-font-global);

    img, svg {
        height: var(--height-header);
        width: auto;
    }

    .logoName {
        font-size: 70px;
        margin: 0;
        // letter-spacing: -2px;
        font-family: 'quanticoBold';
        transform: scaleX(0.75);
        letter-spacing: -6px;
        color: var(--c-font-global);
        margin-left: -11px;
    }
}

.iconsContainer {
    display: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 94vw;
    top: 20px;
    margin: 0 auto;
    z-index: 1001;
}

.linesContainer {
    display: none;
}

[data-is-outlined],
.header[data-theme="dark"] {
    .list {
        outline: 1px solid grey;
    }

    a p {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: grey;
    }

    svg rect {
        fill: var(--c-white-no-change);
    }
}

.header[data-theme="dark"] {
    .list {
        outline: 1px solid grey;
    }

    .logoName {
        -webkit-text-stroke-color: grey;
    }
}

.listContainer {
    display: flex;
    flex-direction: row;
}

.fullWidth {
    width: 100vw;
}

.list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: var(--pd-xs) var(--pd-md);
    border-radius: 5px;

    &:first-child {
        justify-content: space-evenly;
        min-width: 460px;
        background-color: var(--c-black);

        &[data-theme="dark"] a {
            color: white;
        }
    }

    &:last-child {
        min-width: 125px;
        justify-content: center;
        background-color: var(--c-primary);
        margin-left: var(--mg-md);
    }
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.darkModeContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 18px;

    p {
        color: var(--c-white-no-change);
        margin-right: 7px;
    }

    svg {
        height: 18px;
        height: 18px;
        margin: auto;
        margin-right: var(--mg-sm);
    }
}

.item a,
.item .contactBtn,
.item .darkModeContainer {
    cursor: pointer;
    color: var(--c-white);
    padding: var(--pd-sm) var(--pd-md);
    font-weight: var(--fw-medium);
    font-size: var(--fs-sm);
    text-decoration: none;
    border-radius: var(--br-sm);
    transition: background-color var(--tr-base);

    &:hover {
        background-color: grey;
    }
}

.contactBtn {
    background-color: unset;
    border: none;
}

@include mixins.mobile {
    div.header {
        --height-burger: 38px;
        --dist-burger-lines: 8px;

        background-color: transparent;
        height: 0;

        &[data-theme="dark"] {
            a {
                color: white;
            }
        }
    }

    [data-is-outlined],
    .header[data-theme="dark"] {
        .list {
            outline: none;
        }
    }

    .iconsContainer .iconLink:last-of-type {
        left: 100px;
    }

    .burger {
        cursor: pointer;
        display: block;
        position: fixed;
        top: 30px;
        right: 20px;
        height: var(--height-burger);
        width: calc(var(--height-burger) + 15px);
        z-index: 999;
    }

    .darkModeContainer {
        margin-top: var(--mg-xl);
        margin-bottom: var(--mg-2xl);

        svg {
            width: 22px;
            height: 22px;
            margin-top: 2px;
        }
    }

    .iconsContainer {
        pointer-events: none;
        position: fixed;
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 20vh;
        top: 80vh;
        left: 0;
        opacity: 0;
        z-index: 998;

        .iconLink, svg {
            height: 40px;
            width: 40px;
        }

        .iconLink {
            position: absolute;
            bottom: 90px;
            left: 35px;
            margin-right: var(--mg-lg);

            &:last-child {
                left: 90px;
            }
        }
    }

    .burgerBackground {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: var(--br-sm);
        background-color: var(--c-black);
        background-color: var(--c-black);
    }

    .logoContainer {
        justify-content: left;
        transition: color var(--tr-base);

        .logoName {
            line-height: calc(var(--height-burger) + 8px);
            font-size: 59px;
            margin-left: -7px;
        }

        .logoName, svg {
            color: currentColor;
        }

        svg {
            height: 43px;
        }
    }

    .logoWhenOpen {
        --c-font-global: var(--c-white-no-change);

        svg {
            fill: var(--c-white-no-change);
        }
    }

    .burgerLine {
        position: absolute;
        height: 2.5px;
        width: calc(var(--height-burger) - 5px);
        top: 50%;
        left: 50%;
        border-radius: 1.25px;
        background-color: hsl(136, 0%, 96%);
        border-radius: 1.5px;
        transform: translate(-50%, -50%);

        // &:nth-child(2) {
        //     transform: translate(-50%, calc(50% - var(--dist-burger-lines)));
        // }

        // &:last-child {
        //     transform: translate(-50%, calc(50% + var(--dist-burger-lines)));
        // }
    }

    .container {
        flex-direction: column;
        width: 70vw;
        height: var(--height-header);
        margin-left: 5vw;
    }

    .list {
        --cta-br-width: 10px;

        flex-direction: column;
        margin-bottom: var(--mg-xl);
        padding: 0;

        &:first-child {
            background-color: transparent;
        }


        &:last-child {
            position: relative;
            display: block;
            margin-left: 0;
            background-color: none;
            z-index: 1000;
            background: linear-gradient(to right, var(--c-tertiary),  var(--c-primary-light));

            .item {
                justify-content: center;
                position: relative;

                svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1002;
                }
            }

            .contactBtn {
                display: block;
                position: relative;
                padding: var(--pd-lg) 0;
                color: var(--c-white-no-change);
                z-index: 1002;
            }

            .backgroundLink {
                display: block;
                position: absolute;
                top: var(--cta-br-width);
                left: var(--cta-br-width);
                border-radius: 5px;
                background-color: var(--c-black);
                height: calc(100% - calc(var(--cta-br-width) * 2));
                width:calc(100% - 20px);
                z-index: 1001;
            }
        }
    }


    [data-is-outlined] .list {
        box-shadow: none;
    }

    .listContainer {
        pointer-events: none;
        position: fixed;
        top: 25vh;
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        z-index: 1001;

        .list:last-child {
            max-width: 300px;
            background-color: transparent;

        }
    }

    .linesContainer {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;

        div {
            position: absolute;
            background-color: var(--c-black);
            z-index: 1003;
        }

        div:first-child,
        div:last-child {
            left: 0;
            height: 15px;
            width: 100%;
        }

        div:last-child {
            top: -1px;
        }

        div:first-child {
            bottom: -1px;
        }

        div:nth-child(2),
        div:nth-child(3) {
            width: 15px;
            height: 100%;
        }

        div:nth-child(2) {
            left: -1px;
        }

        div:nth-child(3) {
            right: -1px;
        }
    }

    .item {
        justify-content: left;
        overflow: hidden;
    }

    .item a,
    .item p {
        font-family: 'inter-bold';
        font-size: 10vw;
        white-space: nowrap;
    }

    .list:not(:last-child) .item a,
    .list:not(:last-child) .item .darkModeContainer  {
        font-family: 'inter-bold';
        font-size: clamp(var(--fs-lg), 9.5vw, 60px);
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: var(--c-white-no-change);

        &:hover {
            -webkit-text-fill-color: var(--c-white-no-change);
            background-color: transparent;
        }
    }

    .list:last-child .item .contactBtn {
        font-family: 'inter-bold';
        font-size: clamp(var(--fs-global), 8vw, 45px);
    }

    .gradientLight {
        pointer-events: none;
        position: absolute;
        right: -60%;
        bottom: -80%;
        height: 70vh;
        width: 70vh;
        border-radius: 20vw;
        background: rgb(2,0,36);
        opacity: 0.2;
        background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(162,149,32,1) 0%, rgba(162,149,32,0.005) 70%, rgba(0,0,0,0) 90%);
    }
}

@include mixins.tablet-desktop {

    .itemWithMenu:hover {
        .settings {
            pointer-events: all;
            opacity: 1 !important;

            &:after {
                pointer-events: all;
            }
        }
    }


    .settings {
        pointer-events: none;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: left;
        top: 60px;
        padding: 20px;
        background-color: var(--c-black-light);
        border-radius: 5px;
        outline: 1px solid grey;
        opacity: 0;
        transform: translate(35px, 0px);
        transition: opacity var(--tr-base);

        &:after {
            content: '';
            position: absolute;
            height: 20px;
            width: 100%;
            top: -20px;
            left: 0;
            background: transparent;
        }

        .item {
            position: relative;
            cursor: pointer;
            margin: 0;
            justify-content: left;
            color: var(--c-white-no-change);
            border-radius: var(--br-sm);
            transition: background-color var(--tr-base);

            p {
                margin: var(--mg-sm);
            }

            &:hover {
                background-color: grey;

                &.perfItem .extraInfo {
                    opacity: 1;
                }
            }

            svg {
                height: 17px;
                margin: 0 var(--mg-sm);
            }

            .extraInfo {
                --bg-info: var(--bg-main);

                position: absolute;
                top: -20px;
                right: 270px;
                opacity: 0;
                transition: opacity var(--tr-base);

                .iconInfo {
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    transform: translateY(-50%);
                }

                p {
                    width: 400px;
                    font-size: 14px;
                    color: var(--c-font-global);
                    background-color: var(--bg-info);
                    padding: var(--pd-lg) var(--pd-xl);
                    border-radius: 10px;
                    border: 1px solid grey;
                    box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.7);
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: 30px;
                    right: 0px;
                    height: 20px;
                    width: 20px;
                    background-color: var(--bg-info);
                    transform: rotate(45deg);
                    border-right: 1px solid grey;
                    border-top: 1px solid grey;
                }

            }
        }
    }

}