@use '../../assets/scss/mixins.scss';

.sectionContainer {
    --container-pd-top: 15vh;
    --heading-height: 80px;

    --card-title-width: 70px;
    --card-title-height: 100px;
    --card-height: 450px;
    --card-width: 350px;
    --card-left: 80px;
    --card-img-width: calc(var(--card-width) - var(--card-title-width));
    --card-top: var(--container-pd-top);
    --card-total-height: calc(var(--card-height) + var(--card-title-height));

    @include mixins.mobile-tablet {
        --container-pd-top: 150px;
        --card-width: 250px;
        --card-height: 400px;
        --card-title-width: 30px;
        --card-title-height: 80px;
        --card-img-width: calc(var(--card-width) - var(--card-title-width));
        --card-left: 4vw;
    }

    @include mixins.mobile {
        --container-pd-top: 100px;
        --card-width: 85vw;
        --card-height: 60svh;
        --card-title-width: 0;
        --card-title-height: 100px;
        --card-img-width: calc(var(--card-width) - var(--card-title-width));
        --card-left: 4vw;
    }

    position: relative;
    padding-top: var(--container-pd-top);
    width: 100vw;
    height: calc(100vh - var(--container-pd-top));
    //overflow: hidden;

    @include mixins.mobile {
        height: auto;
        padding-top: 0;
    }
}

.container {
    display: grid;
    grid-template-columns: minmax(700px, 50%) auto;
    padding: var(--pd-fullwidth);
    height: calc(var(--card-height) + var(--card-title-height) * 3);
    //overflow: hidden;

    @include mixins.mobile-tablet {
        grid-template-columns: minmax(350px, 50%) auto;
    }

    @include mixins.mobile {
        height: auto;
    }
}

.halfHelper {
    position: fixed;
    pointer-events: none;
    height: 50vh;
    width: 50vw;
    top: 0;
    left: 0;
    border: 3px solid red;
    z-index: 10000;
}

.textContainer {
    grid-column-start: 2;
    grid-row-start: 1;
    margin-top: 0;

    h1 {
        height: auto;
        right: 80px;
        line-height: 1.1;
        margin-bottom: 0;
    }

    p {
        font-size: clamp(20px, 1.5vw, 28px);
        max-width: 450px;
        margin: 0;
        color: var(--c-font-global);
    }

    a {
        opacity: 0;
    }

    @include mixins.mobile {
        grid-column-start: 1;
        grid-row-start: 1;
    }
}

@include mixins.mobile {
    .cardsContainer {
        grid-row-start: 2;
        height: 100vh;
    }
}



.lineWrap {
    overflow: hidden;

    p {
        opacity: 0;
    }
}

.textLinesContainer {
    margin-top: var(--mg-lg);
}

.headingContainer {
    opacity: 0;
}

p.preTitle {
    margin: 0;
    font-family: 'quanticoBold';
    color: var(--c-primary);
    font-size: 1.4rem;
}

[data-cta] {
    margin-top: var(--mg-xl);
}

.cardContainer {
    position: absolute;
    top: var(--card-top);
    left: var(--card-left);
    opacity: 0;
    transition: transform var(--tr-base), opacity var(--tr-slow);

    &:hover [data-card-link] {
        transform: translateX(10px);
        color: var(--c-primary);
    }

    @include mixins.mobile {
        left: 0;
    }
}

.cardContainer:nth-child(2) {
    top: calc(15px + var(--card-top));
    left: calc(var(--card-left) + var(--card-title-width) - 10px);
    z-index: 2;
}

.cardContainer:nth-child(3) {
    top: calc(30px + var(--card-top));
    left: calc(var(--card-left) + (var(--card-title-width) * 2) - 10px);
    z-index: 2;
}

.gradient {
    position: absolute;
    height: 80vh;
    width: 80vh;
    top: -15vh;
    border-radius: 20vw;
    background: rgb(2, 0, 36);
    opacity: 0;
    background: radial-gradient(circle, rgb(2, 0, 36) 0%, rgba(162, 149, 32, 0.25) 0%, rgba(162, 149, 32, 0.005) 70%, rgba(0, 0, 0, 0) 90%);
}

.gradient[data-mode="light"] {
    display: none;
}