@use '../../assets/scss/mixins.scss';

.sectionContainer {
    --container-pd-top: 15vh;
    --heading-height: 80px;

    --card-title-width: 70px;
    --card-title-height: 100px;
    --card-height: 450px;
    --card-width: 350px;
    --card-left: 80px;
    --card-img-width: calc(var(--card-width) - var(--card-title-width));
    --card-top: var(--container-pd-top);
    --card-total-height: calc(var(--card-height) + var(--card-title-height));

    @include mixins.mobile-tablet {
        --card-width: 250px;
        --card-height: 400px;
        --card-title-width: 30px;
        --card-title-height: 80px;
        --card-img-width: calc(var(--card-width) - var(--card-title-width));
        --card-left: 4vw;
    }

    position: relative;
    padding-top: var(--container-pd-top);
    width: 100vw;
    height: calc(100vh - var(--container-pd-top));
    //overflow: hidden;

    @include mixins.mobile {
        height: auto;
        padding-top: 0;
    }
}

.container {
    display: grid;
    grid-template-columns: minmax(700px, 50%) auto;
    padding: var(--pd-fullwidth);
    height: calc(var(--card-height) + var(--card-title-height) * 3);
    //overflow: hidden;

    @include mixins.mobile-tablet {
        grid-template-columns: minmax(350px, 50%) auto;
    }

    @include mixins.mobile {
        grid-template-columns: 100%;
        height: auto;
    }
}

.textContainer {
    grid-column-start: 2;
    grid-row-start: 1;
    margin-top: 0;

    h1 {
        height: auto;
        right: 80px;
        line-height: 1.1;
        margin-bottom: 0;
    }

    p {
        font-size: clamp(20px, 1.5vw, 28px);
        width: 380px;
        margin: 0;
    }

    @include mixins.mobile {
        grid-column-start: 1;
        grid-row-start: 1;
    }
}

@include mixins.mobile {
    .cardsContainer {
        grid-row-start: 2;
        height: 100vh;
    }
}



.lineWrap {
    overflow: hidden;

    p {
        opacity: 0;
    }
}

.textLinesContainer {
    margin-top: var(--mg-lg);
}

.headingContainer {
    opacity: 0;
}

p.preTitle {
    margin: 0;
    font-family: 'quanticoBold';
    color: var(--c-primary);
    font-size: 1.4rem;
}

[data-cta] {
    margin-top: var(--mg-xl);
}

.cardContainer {
    cursor: pointer;
    position: absolute;
    top: var(--card-top);
    left: var(--card-left);
    opacity: 0;
    transition: transform var(--tr-base), opacity var(--tr-slow);

    &:hover [data-card-link] {
        transform: translateX(10px);
        color: var(--c-primary);
    }

    &:hover ~ div {
        // transform: translateY(100%) !important;
        // background: green;

    }
}

.cardContainer:nth-child(2) {
    top: calc(15px + var(--card-top));
    left: calc(var(--card-left) + var(--card-title-width));
    z-index: 2;
}

.cardContainer:nth-child(3) {
    top: calc(30px + var(--card-top));
    left: calc(var(--card-left) + (var(--card-title-width) * 2));
    z-index: 2;
}