.footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: var(--height-footer);
    margin-right: 7vw;
    font-family: 'inter-medium';
    align-items: center;
    z-index: 3;
}

.footer a {
    display: block;
    margin-left: 35px;
    color: var(--c-black);
}

.footer p {
    margin: 0 0 -4px 0;
    font-family: 'inter-bold';
    font-size: var(--fs-2xs);
    color: lightgrey;
}

#page-content:has(#page-home) ~ #footer {
    height: 80px;
    margin-top: -80px;
}

#page-content:has(#page-home) ~ #footer a {
    color: white;
}

#page-content:has(#page-home) ~ #footer-canvas {
    display: none;
}

.footer-canvas {
    position: relative;
    width: 100vw;
    height: 60vh;
    background: var(--bg-main);
    margin-bottom: -100px;
    border-radius: 45px;
    scrollbar-color: var(--c-secondary-darker) transparent !important;
    scrollbar-width: thin !important;
    z-index: 0;
}

.footer-canvas ::-webkit-scrollbar {
    background: transparent;
    width: 6px;
}

.footer-canvas ::-webkit-scrollbar-thumb {
    background: var(--c-secondary-darker);
    border-radius: var(--br-base);
}

.footer-title {
    font-size: 60px;
    margin: 0;
    margin-bottom: var(--mg-md);
    font-family: "inter-bolder";
    padding: var(--pd-fullwidth);
}

@media (max-width: 768px) {
    .footer-canvas {
        height: 80vh;
    }

    .footer a {
        margin-left: 25px;
        font-size: var(--fs-xs);
    }
}