@use '../../assets/scss/mixins.scss';


.container {
    --height-card: auto;

    width: 90vw;
    margin: 200px auto 100px auto;

    &[data-theme="light"] {

        .gradient {
             display: none;
        }

        img[data-filter-invert] {
            filter: none;
        }
    }

    p[data-tag-label] {
        background-color: transparent;
        border: 1px solid var(--c-br-light);
    }
}

.gradient {
    position: absolute;
    height: 120vh;
    width: 120vh;
    top: -40%;
    right: -50%;
    border-radius: 40vw;
    background: rgb(2, 0, 36);
    opacity: 0.6;
    background: radial-gradient(circle, rgb(2, 0, 36) 0%, rgba(162, 149, 32, 0.25) 0%, rgba(162, 149, 32, 0.005) 70%, rgba(0, 0, 0, 0) 90%);
}

.intro {
    font-size: var(--fs-lg);
    margin-bottom: var(--mg-xl);
    max-width: 800px;
    font-family: "inter-regular";
    color: var(--c-font-global);

    a {
        text-decoration: none;
        font-family: "inter-medium";
    }
}

.ctaContainer {
    display: flex;
    align-items: center;
    justify-content: right;
}

.projectContainer {
    position: relative;
    display: grid;
    grid-template-columns: auto 560px;
    cursor: pointer;
    height: var(--height-card);
    margin-bottom: var(--mg-xl);
    background: var(--bg-white);
    border: 1px solid var(--c-br-light);
    border-radius: 30px;
    box-sizing: border-box;
    text-decoration: none;

    div {
        pointer-events: none;
    }

    p[data-tag-label] {
        font-size: var(--fs-3xs);
        font-family: 'inter-regular';
    }

    [data-cta] {
        margin-top: 0;
    }

    .img, img, svg {
        height: calc(var(--height-card) - 2px);
        margin: 0;
        border-radius: 0 30px 30px 0;
    }

    [data-transitioned-image] {
        border-radius: 0 30px 30px 0;
        overflow: hidden;
        height: calc(var(--height-card) - 2px);
    }


    svg {
        opacity: 0.15;
    }
}

.textsContainer {
    padding: var(--pd-md) var(--pd-xl);
    box-sizing: border-box;
    color: var(--c-font-global);
}

.imgContainer {
    position: relative;
    display: flex;
    justify-content: right;

    [data-img-mountain] {
        width: 100%;

        img, svg {
            width: 100%;
        }
    }
}


.title {
    font-size: clamp(var(--fs-4xl), 4.2vw, 150px);
    font-family: "inter-bold";
    color: var(--c-font-global);
}

.projectTitle {
    color: var(--c-primary);
    font-family: 'quanticoBold';
    font-size: var(--fs-lg);
    margin-bottom: var(--mg-xs);
}

.projectDescription {
    font-size: var(--fs-lg);
    max-width: 400px;
    margin-bottom: var(--mg-xl);
}
.projectContainer {
    // background: white;
}


@include mixins.mobile-tablet {
    .projectContainer {
        position: relative;
        display: grid;
        grid-template-columns: 100%;
    }

    .textsContainer {
        grid-row-start: 2;
        padding: var(--pd-md) var(--pd-lg) var(--pd-xl);
    }

    .projectTitle {
        margin-top: var(--mg-sm);
    }

    .projectDescription {
        margin-bottom: var(--mg-sm);
    }

    .container {
        [data-transitioned-image] {
            border-radius: 30px 30px 0 0;

            img, svg {
                border-radius: 30px 30px 0 0;
            }
        }
    }
}

@include mixins.desktop-sm {
    .container {
        --height-card: 280px;

        margin: 200px auto 100px auto;
    }

    .projectDescription {
        font-size: var(--fs-global);
        margin-bottom: var(--mg-lg);
    }
}

@include mixins.desktop {
    .container {
        --height-card: 350px;

        margin: 200px auto 100px auto;
    }
}

@include mixins.desktop-lg {
    .container {
        width: 75vw;
        margin: 200px auto 100px auto;
    }
}