@use '../../../../assets/scss/mixins';


.container {
    width: 100%;
    margin-bottom: var(--mg-xl);

    .text {
        font-size: var(--fs-2xs);
        font-style: italic;
        margin: 0;
    }
}

.imgContainer {
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        width: stretch;
        opacity: 1;
        border-radius: 10px;
    }

    img:not(.imgWithHeight) {
        height: auto;
    }

    img.imgWithHeight {
        width: auto;
    }

    img.imgWithMargin {
        margin-top: -60px;
    }

    .hasMargin {
        margin-top: -100px;
    }

    .hasMediumMargin {
        margin-top: -50px;
    }
}

.container.column2 {
    grid-column-start: 2;
}

.container.row3 {
    margin-top: var(--mg-lg);
    grid-row-start: 3;
}

@include mixins.mobile-tablet {
        .container {
            margin-bottom: 0;
        }

        .imgContainer {
            img.imgWithMargin {
            margin-top: 0;
        }

        img {
            height: auto;
            max-width: 100%;
        }
    }
}